//
// App.css: styles for use throughout the app
//
#root {
  max-width: 1280px;
}

#app,
#app-big-five,
#app-jungian,
#app-enneagram,
#app-sun-signs {
  padding: 2rem;
  text-align: left;
  width: 100%;
}

