/*                */
/* CusTOMizations */
/* -------------- */
/*                */
.navbar {
  margin: 0 0 3em 0;
  padding: 0;
  top: 0px;
  width: 100%;
}
.top-row {
  margin-top: 50px;
}

/*
 * Hide the bubble that appears when moving the score sliders,
 *   because it can be misleading
 */
.score-slider .thumb {
  visibility: hidden;
}

.score-slider {
  text-align: center;
}
.form-label {
  margin: auto;
}

/*
 * Not using this rule right now...
 */
a.current-page {
  font-weight: bold;
  text-decoration: underline;
}
